.streakTracker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/* --------------------------------- */

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    background-color: #8e2424;
    font-family: 'VietXua1';
}

.buttons:hover {
    border-color: #ffe1a0;
    border-width: thin;
}

.buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.restartButton {
    margin-top: 5%;
    background-color: #8e2424;
    font-family: 'VietXua1';
}

.restartButton:hover {
    border-color: #ffe1a0;
    border-width: thin;
}

/* --------------------------------- */
.typingAnswer {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: start;
    padding-top: 5%;
}

/* .input[type=text] {
    font-family: 'VietXua1';
    color: #8e2424;
    font-size: 70%;

    margin: 0;
    height: 7%;
    padding: 1%;
    background-color: #ffe4ae;
} */

.answerBox {
    justify-content: start;
    align-items: start;
    width: 35%;
    height: 3vh;
}

.inputField {
    font-family: 'VietXua1';
    color: #8e2424;
    font-size: 70%;

    margin: 0;
    height: 100%;
    width: 100%;
    padding: 1%;
    padding-left: 2%;
    background-color: #ffe4ae;
}

.feedback {
    align-items: start;
    font-family: 'Typing';
    font-size: small;
}

.correctText {
    color: green;
}

.incorrectText {
    color: red;
}

::placeholder {
    color: #8f6161;
}

.correct {
    border: 2px solid green;
}

.incorrect {
    border: 2px solid red;
}