#root {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  background-color: #8e2424;
  font-family: 'VietXua1';
}

.buttons:hover {
  border-color: #ffe1a0;
  border-width: thin;
}

.buttonsGroup {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.restartButton {
  margin-top: 5%;
  background-color: #8e2424;
  font-family: 'VietXua1';
}

.restartButton:hover {
  border-color: #ffe1a0;
  border-width: thin;
}

/* Importing fonts */
@font-face {
  font-family: 'VietXua1';
  src: url('/DFVN STAMPA V1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Typing';
  src: url('/iCielBCOldStyle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}