#root {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.title {
  font-family: 'VietXua1';
  color: #ffd071;
  font-size: 300%;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

.subtitle {
  font-family: 'VietXua1';
  color: #ffe4ae;
  font-size: 170%;
  margin: 0;
  margin-bottom: 5%;
}

.para {
  font-family: 'Typing';
  color: #ffe4ae;
  font-size: 100%;
  letter-spacing: 1px;
}

/* Importing fonts */
@font-face {
  font-family: 'VietXua1';
  src: url('/DFVN STAMPA V1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Typing';
  src: url('/iCielBCOldStyle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}